<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".internal.ContextProvider"
            android:authorities="${applicationId}.log4k.context_provider"
            android:exported="false" />
    </application>
</manifest>
