name: "Main CI"
on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  spotless:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run Spotless
        run: ./gradlew spotlessCheck

  build:
    runs-on: macos-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build with Gradle
        run: ./gradlew build -x spotlessCheck
      - name: Archive .gradle folder
        uses: actions/upload-artifact@v1
        with:
          name: .gradle
          path: .gradle
      - name: Archive build folder
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
      - name: Archive log4k/build folder
        uses: actions/upload-artifact@v1
        with:
          name: log4k_build
          path: log4k/build

  publish:
    needs: build
    runs-on: macos-latest
    if: github.ref == 'refs/heads/master'
    environment: Sonatype
    env:
      SONATYPE_GPG_KEY: ${{ secrets.SONATYPE_GPG_KEY }}
      SONATYPE_GPG_KEY_PASSWORD: ${{ secrets.SONATYPE_GPG_KEY_PASSWORD }}
      SECRETS_KEY: ${{ secrets.SECRETS_KEY }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Download .gradle folder
        uses: actions/download-artifact@v1
        with:
          name: .gradle
      - name: Download build folder
        uses: actions/download-artifact@v1
        with:
          name: build
      - name: Download log4k/build folder
        uses: actions/download-artifact@v1
        with:
          name: log4k_build
      - name: Publish to Sonatype (Maven Central)
        shell: bash
        run: |
          brew install gnupg
          ./scripts/secret decrypt --password ${SECRETS_KEY}
          ./scripts/publish
